<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Gotham-XLight.otf</string>
		<string>Gotham-UltraItalic.otf</string>
		<string>Gotham-Thin.otf</string>
		<string>Gotham-Light.otf</string>
		<string>Gotham-BookItalic.otf</string>
		<string>Gotham-Bold.otf</string>
		<string>Gotham-Black.otf</string>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need access to your microphone to record audio for mood analysis</string>
	<key>NSCameraUsageDescription</key>
	<string>We need access to your camera to capture your mood</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
